<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
      <div class="row center">
        <div class="card-panel">
        <div class="row">
          <div class="field col m12">
            <%= form.label :video_file %>
            <%= form.file_field :video_file %>
          </div>
        </div>

        <div class="row">
          <div class="field col m12">
            <%= form.label :thumbnail %>
            <%= form.file_field :thumbnail %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col m12">
            <%= form.label :name %>
            <%= form.text_field :name %>
          </div>
        </div>
        <div class="row">
          <div class="field  col m12">
            <%= form.label :desc %>
            <%= form.text_area :desc %>
          </div>
        </div>

        <div class="row">
          <div class="field col m12">
            <div class=" chips chips-autocomplete"></div>
          </div>
        </div>

        <input id="tags_id" name="video[tag_list]" type="hidden">

        <div class="row">
          <div class="actions col m12">
            <%= form.submit class: "waves-effect waves-light btn blue lighten-1"%>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>


<script>


  const tagging = () => {
      let tagsData = {}
      let chosenTags = []
      let initialData = []
      let tags = []

      <% @all_tags.each do |tag| %>
      tags.push('<%= tag.name %>')
      <% end %>
      tags.forEach( e => {
          tagsData[e] = null
      })
      console.log(tagsData)

      <% @curr_tags.each do |tag| %>
      chosenTags.push( '<%= tag.name %>')
      <% end %>

      chosenTags.forEach( (tag) => {
          initialData.push({tag: tag})
      })

      $('.chips-autocomplete').chips({
          data: initialData,
          autocompleteOptions: {
              data: tagsData,
              limit: 5,
              minLength: 1
          },
          onChipAdd: (e , chip) => {
              let tagname = chip.childNodes[0].textContent
              console.log(tagname)
              chosenTags.push(tagname)
              $('#tags_id').val(chosenTags)
          },
          onChipDelete: (e, chip) => {
              let tagname = chip.childNodes[0].textContent
              console.log(tagname)
              let tagIndex = chosenTags.indexOf(tagname)
              if( tagIndex > -1 ){
                  chosenTags.splice(tagIndex, 1)
              }
              $('#tags_id').val(chosenTags)
          }
      });

  }

  jQuery(tagging)



</script>
